h1 {
  color: red;
  text-align: center;
}

.animal {
  width: 300px;
  color: blue;
  float: left;
  text-align: center;
}

img {
  height: 200px;
  width: auto;
  border-radius: 150px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 748px) {
  .animal {
    font-size: 10px;
    color: red;
  }

  img {
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  .animal {
    font-size: 7px;
    color: green;
  }
  img {
    height: 100px;
  }
}
